# Unreal generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Build outputs
Build/
.vs/
.vscode/
.idea/

# Visual Studio / Rider
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled files
*.dll
*.pdb
*.exe
*.obj
*.ilk
*.lib
*.exp

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db